<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cari Dokter</title>
</head>
<body>
    <h1>Selamat Datang di Sistem Pencarian Dokter</h1>

    <!-- Formulir Pencarian -->
    <form action="/search" method="get">
        <label for="query">Masukkan pendidikan, nama, gelar, atau spesialisasi dokter:</label><br>
        <input type="text" id="query" name="query" required>
        <button type="submit">Cari</button>
    </form>

    <!-- Formulir untuk melihat metrik berdasarkan query -->
    <form action="/metrics" method="get">
        <label for="metrics_query">Masukkan query untuk melihat metrik:</label><br>
        <input type="text" id="query" name="query" required>
        <button type="submit">Lihat Metrik</button>
    </form>

</body>
</html>
